<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Nibo Challenge
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Bem vindo à Summoners Rift.<br/><br/>
        Você foi convocado a participar do mais empolgante desafio de sua vida: acabar com os intermináveis conflitos em Valoran.<br />
        A nação humana de Demacia, o assombroso império de Noxus e os moradores de todas as cidades-estado aguardam ansiosamente por este momento.<br />
Para isso ocorrerá um torneio onde o reino do vencedor terá o poder de controlar todos os outros em Valoran e precisamos que você desenvolva um sistema<br /> para gerenciar este torneio.
    </mat-card-subtitle>
</mat-card>
